@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --color-primary: #261447;
    --color-secundary: #F39C6B;
    --color-terciary: #9B5DE5;
    --color-white: #fafafa;

    --font-primary: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--color-white);
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #232323;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-secundary);
}

body{
    font-family: var(--font-primary);
}

header{
    position: fixed;
    width: 100%;
    height: 8vh;
    padding: 1rem;
    background-color: #261447;
    color: var(--color-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* #9B5DE5,  */

.hamburguer-menu{
    cursor: pointer;
    display: none;
}

.hamburguer-menu div{
    width: 32px;
    height: 2px;
    background-color: var(--color-white);
    transition: all .3s ease-in;
}

.hamburguer-menu .line1{
    margin-bottom: 8px;
}

.hamburguer-menu .line3{
    margin-top: 8px;
}

nav ul{
    list-style: none;
    font-size: 1.25rem;
    padding: 1rem;
    display: flex;
}

nav li{
    margin-left: 8px;
    letter-spacing: 3px;
}

nav li a {
    padding: 5px;
    border: 1px solid transparent;
}

nav li a:hover{
    border-bottom: 2px solid var(--color-secundary);
}

@media screen and (max-width: 999px) {

    .nav-container{
        position: fixed;
        top: 8vh;
        right: -100%;
        background-color: #232323a2;
        width: 50vw;
        height: calc(100vh - 8vh);
        padding: 4rem;
        transition: .3s ease-in;
        backdrop-filter: blur(10px)
    }

    ul{
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .hamburguer-menu{
        display: block;
    }
}

.hamburguer-menu.active .line1{
    /* transform: rotate(45deg) translate(9px, 6px); */
    transform: rotate(45deg) translate(8px, 10px);
}

.hamburguer-menu.active .line2{
    transform: translateX(-50px);
    opacity: 0;
}

.hamburguer-menu.active .line3{
    transform: rotate(-45deg) translate(4px, -6px);
}

.active{
    right: 0;
}

/* Home */

.main{
    background-color: var(--color-primary);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    color: var(--color-white);
    padding: 4rem 1rem 2rem;
}

.title-container{
    width: 300px;
}

.title-container h1{
    font-size: 2.5rem;
}

#subtitulo-animado{
    color: var(--color-secundary);
}

.main img{
    width: 500px;
    max-width: 100%;
    height: 500px;
}

@media screen and (max-width: 799px) {
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .main img{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 450px) {
    .main img{
        display: none;
    }    
}

/* Sobre */
.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    background-color: var(--color-white);
}

.sobre-titulo{
    font-size: 3rem;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--color-secundary);
    margin-bottom: 1.5rem;
}

.content{
    width: 90%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

.content img{
    width: 300px;
    max-width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px 2px #232323;
}

.conteudo{
    width: 500px;
    display: flex;
    flex-direction: column;   
}

.links{
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.link{
    color: #232323;
    font-size: 1.5rem;
    transition: .3s ease-in;
}

.link:hover{
    transform: scale(1.3);
    color: #ff0045;
}

@media screen and (max-width: 750px) {
    .sobre-titulo{
        font-size: 2rem;
    }

    .content img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 1rem;
    }

    .content{
        font-size: .8rem;
    }
}

/* Skills */
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.tecnologies-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.tecnologies-container div{
    height: 400px;
    width: 400px;
    padding: 1rem;
}

.tecnologies-container div:nth-child(1){
    border: 4px solid var(--color-terciary);
    background-color: var(--color-white);
    color: #232323;
    font-size: 1.2rem;
}

.tecnologies{
    border: 4px solid var(--color-terciary);
    display: flex;
    flex-direction: column;
}

.tecnologies-container div button{
    width: 100%;
    padding: .8rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: 0;
    transition: .3s ease-in-out;
}

.tecnologies-container div button:hover{
    background-color: var(--color-terciary);
    color: var(--color-white);
}

.clicked{
    background-color: var(--color-terciary);
}

@media screen and (max-width: 450px) {
    .tecnologies-container div:nth-child(1){
        font-size: .75rem;
    }
}